################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bank/wwwroot/lib/jquery-validation-unobtrusive
/Bank/wwwroot/lib/jquery-validation/dist
/Bank/wwwroot/lib/jquery-validation
/Bank/wwwroot/lib/jquery/dist
/Bank/wwwroot/lib/jquery
/Bank/wwwroot/lib/bootstrap/dist/fonts
/.idea
/.vs/Bank/v15
/Bank/obj
/.vs
/Bank/bin
/Bank.BL/obj
/Bank.BL/bin
/Bank.DAL/bin
/Bank.DAL/obj
/Bank.Tests/obj
/Bank.Tests/bin
/Bank.Common/bin
/Bank.Common/obj
Bank.db
