################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bank/wwwroot/lib/jquery-validation-unobtrusive
